<div class="product-panel-container">
    <div class="product-panel--reference">
        <div class="reference-website-logo">
            <a href="" class="reference-logo"></a>
            <a href="" class="reference-website">fashiondays.bg</a>
        </div>
        <a href="" class="trash-bin-icon"></a>
    </div>
    <div class="product-panel--image">
        <img src="https://cdn.ozone.bg/media/catalog/product/cache/1/image/400x498/a4e40ebdc3e371adff845072e1c73f37/b/e/4e50026d1965d049c44f6139fa0925c9/bezzhichni-slushalki-s-mikrofon-xmart---tws06--tws--cherni-30.jpg" alt="" class="img-fluid">
    </div>
    <h2 class="product-panel--heading">Чантa през рамо</h2>
    <span class="product-panel--line-decoration"></span>
    <div class="product-panel--initial-price">
        <div class="initial-price--price gy-price">2500</div>
        <p class="initial-price--label gy-price-label">initial price</p>
    </div>
    <div class="product-panel--current-price">
        <div class="current-price--price gy-price">1800</div>
        <p class="current-price-label gy-price-label">current price</p>
    </div>
</div>