<body>
    <div class="main-container">
        <div class="logo-container">
            <div class="logo"></div>
        </div>
        <div class="register-and-illustrations-container">
            <div class="register-container">
                <h3 class="register--heading">Register</h3>
                <form action="" method="post" class="register--form">
                    <input type="email" name="" id="" class="register--email getyours-input-field" placeholder="E-mail">
                    <input type="password" name="" id="" class="register--password getyours-input-field" placeholder="Password">
                    <button type="submit" class="sing-in--button">Register</button>
                </form>
                <a href="/login-page-component" class="register--register-link">Already have an account? <b>Sign in!</b></a>
            </div>
            <div class="illustration-container">
                <div class="illustration--img"></div>
                <p class="illustration--caption">
                Create a wishlist with your<br>
                favourite products. Compare prices<br>
                and get the best deal!
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
            Get Yours! © 2023 NBU
    </footer>
</body>
