<body>
    <div class="main-container">
        <div class="logo-container">
            <div class="logo"></div>
        </div>
        <div class="sign-in-and-illustrations-container">
            <div class="sign-in-container">
                <h3 class="sign-in--heading">Sign in</h3>
                <form action="" method="post" class="sign-in--form">
                    <input type="email" name="" id="" class="sign-in--email getyours-input-field" placeholder="E-mail">
                    <input type="password" name="" id="" class="sign-in--password getyours-input-field" placeholder="Password">
                    <button type="submit" class="sing-in--button">Login</button>
                </form>
                <a href="/register-page-component" class="sign-in--register-link">No account? <b>Sign up and Get Yours!</b></a>
            </div>
            <div class="illustration-container">
                <div class="illustration--img"></div>
                <p class="illustration--caption">
                Create a wishlist with your<br>
                favourite products. Compare prices<br>
                and get the best deal!
                </p>
            </div>
        </div>
    </div>
    <footer class="footer">
            Get Yours! © 2023 NBU
    </footer>
</body>
