$accent-color: #493e99;

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar{
    display: flex;
    width: 615px;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.logo-container{
    display: block;
    position: relative;
    top: 8px;
    left: 46px;
    width: 274px;
    height: 58px;
}

.logo{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../../resources/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.action-container{
    display: flex;
    flex-direction: row;
}


.gy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: $accent-color;
    margin-left: 11px;
    border-radius: 50%;
    border: none;
}

.gy-button:hover{
    background-color: #5b50a8;
}

.action-image{
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.search-button--image{
    position: relative;
    bottom: 1px;
    background-image: url('../../resources/decoration/search.icon.png');
}

.filter-button--image{
    position: relative;
    background-image: url('../../resources/decoration/filter.icon.png');
}

.hamburger-menu{
    display: block;
    width: 35px;
    height: 28px;
    background-image: url('../../resources/decoration/hamburger_menu.png');
    cursor: pointer;
}

.product-panels{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.offcanvas {
    background-color: $accent-color;
}

.offcanvas-title{
    color: white;
}

.offcanvas-h5{
    color: white;
}

.container{
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#offcanvasRightFilter{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    padding: 110px 0px;
}

#offcanvasRightSearch{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    padding: 110px 0px;
}

#offcanvasRightLabel{
    color: $accent-color !important;
    font-size: 30px;
}

#offcanvasRight-body{
    display: flex;
    flex-direction: column;
}

.gy-filter-button{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
    border-bottom: 3px solid $accent-color !important;
    border-radius: 0px !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: left !important;
    color: $accent-color !important;
}

.card-body{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}

.card{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}


.list-group-item{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important
}

.form-check-label{
    color: $accent-color !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-left: 10px !important;
}

#button-search{
    background-color: $accent-color;
    border-color: $accent-color;
}